/* =========================================
   CARD CONTAINER
========================================= */
.card {
  width: 413px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

/* =========================================
   DELETE BUTTON
========================================= */
.card__delete-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 32px;
  height: 32px;

  background: transparent url("../images/Delete-Default.png") center/contain
    no-repeat;

  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__delete-btn:hover {
  background-image: url("../images/Delete-Hover.png");
  opacity: 1;
}

/* =========================================
   CARD IMAGE
========================================= */
.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;

  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  display: block;
}

/* =========================================
   CAPTION & NAME
========================================= */
.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.card__name {
  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
  color: #212121;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0;
  line-height: 120%;
}

/* =========================================
   LIKE BUTTONS
========================================= */
.card__like-button,
.card__like-button-clicked {
  background-color: transparent;
  border: none;

  width: 22px;
  height: 20px;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  transition: opacity 0.2s ease, background-image 0.2s ease;
}

.card__like-button {
  opacity: 0.4;
  background-image: url("../images/heart-icon.svg");
}

.card__like-button:hover {
  background-image: url("../images/default_heart_hover.png");
  opacity: 1;
}

.card__like-button-clicked {
  opacity: 1;
  background-image: url("../images/heart-clicked.svg");
}

.card__like-button-clicked:hover {
  background-image: url("../images/heart.hovered.svg");
}

@media screen and (max-width: 629px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
  }

  .card__name {
    max-width: 215px;
    font-size: 16px;
  }

  .card__delete-btn {
    width: 28px;
    height: 28px;
    top: 10px;
    right: 10px;
  }
}
